body{background-color: rgb(255, 255, 255);}
h1{color: rgb(221, 15, 15);}
p{color: rgb(0, 0, 0); font-size: 20px;}
p{
    margin-left: 20px;
    margin-right: 20px;
}

.container{ display: flex;

}

div{
    background-color: rgb(221, 15, 15);
    border-width: 8px;
    border-radius: 15px;
}
img{
    border-radius: 8%;
    margin-right: 15px;
    
}